=form_with model: @task do |f|
    =f.label :name
    =f.text_field :name
    =@task.errors[:name].first
    =
    br
    =f.label :description
    =f.text_field :description
    =@task.errors[:description].first
    br
    =f.label :status
    =f.text_field :status
    =@task.errors[:status].first
    br
    =f.label :creator
    =f.text_field :creator
    =@task.errors[:creator].first
    br
    =f.label :performer
    =f.text_field :performer
    =@task.errors[:performer].first
    br
    =f.label :completed
    div
        =f.radio_button :completed, 'true'
        | true
    div
        =f.radio_button :completed, 'false'
        | false
    =@task.errors[:completed].first
    br
    =f.submit