h1 Task 
h2 name:  #{@task.name}
h2 description:  #{@task.description}
h2 status:  #{@task.status}
h2 creator:  #{@task.creator}
h2 performer:  #{@task.performer}
h2 completed:  #{@task.completed}

= link_to "edit", edit_task_path(@task)
br
= link_to "destroy", task_path(@task), data:{turbo_method: 'delete' } 